@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #0019FF;
  --brand-accent: #00C774;
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

@layer base {
  html, body {
    @apply text-zinc-900 antialiased;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    @apply font-sans;
    background: #ffffff;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
